[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
sqlite4 = "*"
streamlit = "==1.34"
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.10"
